# Arquivos de cache Python
__pycache__/
*.py[cod]
*$py.class

# Bibliotecas instaladas localmente
venv/
*.venv
env/
*.env
ENV/

# Arquivos de log
*.log

# Arquivos de banco de dados SQLite
*.sqlite

# Configurações do VS Code

.env

notas.txt
capril.db

.python_packages